html,body{
    font-size : 9px;
    cursor: pointer;
}
.logo{
   right: 0;
}
.circle{
    display: none;
}
.pager{
    display: none;
}
.introTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box4Txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.box4Txt span{
    font-size: 10rem;
    display: block;
}