html,body{
    font-size: 12px;
}
@media all and (max-width:400px){
    html,body{
        font-size: 10px;
    }
}
.msBox{
    transform: translate(-50%, -40%);
}
.membership li:nth-child(2){
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.membership li:nth-child(2) > p{
    width: 85%;
}

.detail{
    flex-direction: column;
}
.detail li{
    flex-direction: column;
    width: 100%;
}
.hint{
    width: 100%;
    right: 0;
    bottom: 5vw;
}
.page3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page3 p{
    width: 95%;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}
.page3 figure{
    width: 95%;
}
.grid{
    grid-template-columns: repeat(2, minmax(140px , 1fr));
}
.device li{
    width: 50%;
}
.qaTit{
    padding-left: 1.5rem;
}
.qaTit::before{
    right: 1.5rem;
}
.qaDetail{
    padding: 1.5rem;
}

.language{
    position: relative;
    width: 6.8rem;
}
.globe{
    position: absolute;
    padding: 0.3rem 0;
    width: 1.2rem;
}
.etc1, .etc2{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--fontColor);
}